<%- include('partials/head') %>

	<form class="wechat-form-login" action="/wechat/login" method="post">
		<div class="login-group">
			<div class="login-l">
				<label for="cell">手机号码</label>
				<input class="form-control" type="tel" id="cell" name="cell">
			</div>
			<div class="login-r">
				<div class="text">+86</div>
			</div>
		</div>
		<div class="login-group">
			<div class="login-l">
				<label for="code">验证码</label>
				<input class="form-control" type="number" id="code" name="code">
			</div>
			<div class="login-r">
				<div class="text">获取验证码</div>
			</div>
		</div>
		<div class="form-group">
			<button class="btn btn-danger" type="submit">登录</button>
		</div>
		<input type="hidden" name="openid" value="<%= openid %>">
		<input type="hidden" name="nickname" value="<%= nickname %>">
		<input type="hidden" name="sex" value="<%= sex %>">
		<input type="hidden" name="country" value="<%= country %>">
		<input type="hidden" name="province" value="<%= province %>">
		<input type="hidden" name="city" value="<%= city %>">
		<input type="hidden" name="headimgurl" value="<%= headimgurl %>">
		<input type="hidden" name="privilege" value="<%= privilege %>">
		<input type="hidden" name="unionid" value="<%= unionid %>">
	</form>

<script>
	$(function () {



		function getCellCode() {
			var cell = $('#cell').val();
			Util.getCellCode(cell)
				.then(function (data) {
					console.log(data);
				})
		}

	})
</script>
<%- include('partials/foot') %>
