<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>

	<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js?debug=true"></script>
	<script src="/wechat/open/js/wechat.js?debug=1"></script>
</head>
<body>
	Login


	<form action="/wechat/login" method="post">
		<div class="form-group">
			<input class="" type="phone" id="cell" name="cell">
		</div>
		<div class="form-group">
			<input class="" type="number" id="code" name="code">
		</div>
		<div class="form-group">
			<button type="submit">登录</button>
		</div>
		<input type="hidden" name="openid" value="<%= openid %>">
		<input type="hidden" name="nickname" value="<%= nickname %>">
		<input type="hidden" name="sex" value="<%= sex %>">
		<input type="hidden" name="country" value="<%= country %>">
		<input type="hidden" name="province" value="<%= province %>">
		<input type="hidden" name="city" value="<%= city %>">
		<input type="hidden" name="headimgurl" value="<%= headimgurl %>">
		<input type="hidden" name="privilege" value="<%= privilege %>">
		<input type="hidden" name="unionid" value="<%= unionid %>">
	</form>
</body>
</html>
