<%- include('../layouts/header') %>

<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">修改个人资料</h3>
          <p>以下为您作为当前用户的个人资料,登录密码项留空,则不修改登录密码.</p>
          <ul>
            <li>昵称: <span class="text-primary"><%= typeof(_loginUser) !== 'undefined' ? _loginUser.nickname : '' %></span></li>
            <li>登录用户名: <span class="text-primary"><%= typeof(_loginUser) !== 'undefined' ? _loginUser.username : '' %></span></li>
            <li>邮箱: <span class="text-primary"><%= typeof(_loginUser) !== 'undefined' ? _loginUser.email : '' %></span></li>
            <li>手机号码: <span class="text-primary"><%= typeof(_loginUser) !== 'undefined' ? _loginUser.phone : '' %></span></li>
          </ul>
        </div>
        <form id="form">
          <div class="box-body">
            <div class="form-group">
              <label for="email">邮箱<small class="text-red">*</small></label>
              <input type="email" class="form-control" id="email" name="email" value="<%= typeof(_loginUser) !== 'undefined' ? _loginUser.email : '' %>" placeholder="请输入邮箱.">
            </div>
            <div class="form-group">
              <label for="phone">手机号码<small class="text-red">*</small></label>
              <input type="text" class="form-control" id="phone" name="phone" value="<%= typeof(_loginUser) !== 'undefined' ? _loginUser.phone : '' %>" placeholder="请输入手机号码.">
            </div>
            <div class="form-group">
              <label for="nickname">昵称<small class="text-red">*</small></label>
              <input type="text" class="form-control" id="nickname" name="nickname" value="<%= typeof(_loginUser) !== 'undefined' ? _loginUser.nickname : '' %>" placeholder="请输入昵称.">
            </div>
            <div class="form-group">
              <label for="password">登录密码<small class="text-red">*</small></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="请输入登录密码.">
            </div>
            <div class="form-group">
              <label for="password-confirmation">确认登录密码<small class="text-red">*</small></label>
              <input type="password" class="form-control" id="password-confirmation" name="password_confirmation" placeholder="请再次输入登录密码.">
            </div>
          </div>
          <div class="box-footer">
            <button class="btn btn-primary" type="submit">修改资料</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../layouts/footer') %>

<script>
  $(function () {
    $('#form').submit(function (e) {
      e.preventDefault();

      var _self = $(this);
      var email = _self.find('input[name=email]').val();
      var phone = _self.find('input[name=phone]').val();
      var nickname = _self.find('input[name=nickname]').val();
      var password = _self.find('input[name=password]').val();
      var password_confirmation = _self.find('input[name=password_confirmation]').val();

      if (!email || !/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/.test(email)) {
        layer.alert('邮箱不正确, 请重新填写!', {skin: 'layui-layer-warning'});
        return false;
      }
      if (!phone || !/^1[3|4|6|7|8][0-9]\d{8}$/.test(phone)) {
        layer.alert('手机号码不正确, 请重新填写!', {skin: 'layui-layer-warning'});
        return false;
      }
      if (!nickname || !/^[\u4e00-\u9fa5A-Za-z0-9_]{3,10}$/.test(nickname)) {
        layer.alert('昵称不正确, 请重新填写!', {skin: 'layui-layer-warning'});
        return false;
      }
      if (password) {
        if (!/^[A-Za-z0-9_]{6,16}/.test(password)) {
          layer.alert('密码格式不正确, 请重新填写!', {skin: 'layui-layer-warning'});
          return false;
        }
        if (password != password_confirmation) {
          layer.alert('两次输入密码不一致, 请重新输入!', {skin: 'layui-layer-warning'});
          return false;
        }
      }

      $.ajax({
        type: 'PUT',
        url: '/admin/system/user/<%= typeof(_loginUser) !== 'undefined' ? _loginUser._id : '' %>',
        data: {
          email: email,
          phone: phone,
          nickname: nickname,
          password: password
        },
        success: function (data) {
          if (data.success) {
            layer.alert('修改成功!', {skin: 'layui-layer-molv', closeBtn: 0}, function () {
              window.location.href = '/admin/system/user';
            });
          }
        },
        error: function (err) {

        }
      })
    })
  })
</script>